body{
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

header{
background:linear-gradient(90deg,#00c6ff,#0072ff);
}

.card{
background:#ffffff;
border-radius:18px;
box-shadow:0 10px 25px rgba(0,0,0,.25);
}

.card:hover{
transform:translateY(-10px) scale(1.03);
}

.price{
color:#ff6b00;
font-size:26px;
font-weight:bold;
}

.whatsapp-btn{
width:100%;
padding:14px;
background:#25D366;
color:white;
border:none;
border-radius:30px;
font-size:17px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

.whatsapp-btn:hover{
background:#128C7E;
transform:scale(1.05);
}

.shipping{
background:linear-gradient(90deg,#00b09b,#96c93d);
}

footer{
background:#0b132b;
}
